@font-face {
    font-family: BillionDreams;
    src: url(BillionDreams_PERSONAL.ttf);
  }

@font-face {
    font-family: Viking;
    src: url(VIKING-N.TTF);
}

@font-face {
    font-family: Nexa;
    src: url(Nexa-Trial-Book.ttf);
}